---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Double from '../components/Double.astro';
import Countdown from '../components/Countdown.jsx';
import WhereAndWhen from '../components/WhereAndWhen.astro';
import Schedule from '../components/Schedule.astro';
import Confirmations from '../components/Confirmations.astro';
import Gifts from '../components/Gifts.astro';
import DressCode from '../components/DressCode.astro';
import Footer from '../components/Footer.astro';
import Parents from '../components/Parents.astro';
import Godparents from '../components/Godparents.astro';
---

<Layout title="Yulisa & Gilberto">
	<main class="relative">
		<Header/>
		<Hero/>
		<Double/>
		<Countdown client:load/>
		<Parents/>
		<Godparents/>
		<Schedule/>
		<Gifts/>
		<DressCode/>
		<Confirmations/>
		<Footer/>
	</main>
</Layout>
