---
const { number, message, buttonMessage } = Astro.props;
---

<a href=`https://wa.me/${number}?text=${message}` class="text-center text-perl rounded-full p-2 border border-perl hover:bg-platinum/60">
  { buttonMessage }
</a>
