---
import { Icon } from 'astro-icon/components';
import ConfirmationButton from './ConfirmationButton.astro';
import line from '/src/assets/images/line_perl.png';
---

<div id="recuerdos" class="text-center bg-cover bg-center  bg-[url('/src/assets/images/cielo.jpg')]">
  <div class="text-center py-32 px-8 min-h-176 bg-black bg-opacity-50">
    <h1 class="text-5xl text-light_blue font-titles text-center">¡Comparte tus recuerdos con nosotros!</h1>
    <img alt="separador" class="mx-auto mt-1 mb-16 max-w-64" src={line.src}/>
    <div class="flex flex-col-reverse items-center ">
      <div class="flex-initial md:w-full">
        <div class="md:w-8/12 text-center md:mx-auto md:mt-16">
          <p class="text-xl text-perl">Nos encantaría ver la boda desde tu perspectiva. Sube tus fotos favoritas para que podamos revivir esos momentos especiales juntos. ¡Gracias por ser parte de nuestro día tan especial!</p>

          <div class="text-perl inline-block mt-8">
              <p class="text-xl text-perl">Escanea para subir tus fotos y videos</p>
          </div>
          <div class="flex items-center justify-center m-5">
            <div class="px-1 bg-cover bg-center xl:bg-top-23 w-60 h-60 min bg-[url('/src/assets/images/qr.jpg')]"></div>
          </div>
          <div class="text-perl inline-block mt-8 md:hidden">
            <Icon name="camara" size={30} />
          </div>
          <div class="flex flex-col md:hidden">
            <div class="flex-initial w-full p-4">
              <a
                href="https://onelifesocial.page.link/55Gb"
                target="_blank"
                class="text-center text-perl rounded-full p-2 border border-perl hover:bg-platinum/60">
                Subir fotos y videos
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>