---
import line from '/src/assets/images/line1.png';
---

<div id="bienvenida" class=" bg-background md:p-16 px-8 py-32">
  <div class="flex flex-col md:flex-row md:justify-between items-center ">
    <div class="flex-initial md:w-full">
      <div class="md:w-8/12 text-center md:mx-auto">
        <p class=" text-textPrimary text-body text-lg">
          En este lugar lleno de historia y naturaleza, unimos nuestras vidas con amor y esperanza, rodeados de quienes más queremos. Nos emociona compartir con ustedes el inicio de nuestra nueva aventura, un capítulo lleno de sueños, promesas y momentos que atesoraremos por siempre.
        </p>
        <img alt="separador" class="mx-auto mt-4 " src={line.src} alt="">
        <div class="text-4xl text-accent font-wedding my-8">4 . Enero . 2025</div>
        <div class="text-xl text-primary mb-8 font-body">Ameca, Jal.</div>
      </div>
    </div>
    <div class="flex-initial w-full">
      <div class="relative px-1 bg-cover bg-center xl:bg-top-23 min-h-160 bg-[url('/src/assets/images/photo2.jpeg')]"></div>
    </div>
  </div>
</div>


