---
import { Icon } from 'astro-icon/components';
import line from '/src/assets/images/line_blue.png';
---

<div id="vestimenta" class="text-center bg-perl px-8 py-32 ">
  <h1 class="text-5xl text-striong_brown font-titles text-center">Código de Vestimenta</h1>
  <img alt="separador" class="mx-auto mt-1 mb-16 max-w-64" src={line.src}/>
  <div class="text-strong_blue inline-block ">
    <Icon name="hanger" size={80} />
  </div>
  <p class="mb-8 text-2xl text-strong_blue">Formal de playa</p>
  <div class="flex flex-col justify-between text-sand">
    <p class="text-platinum text-xl"><b class="text-strong_blue">Hombres:</b> No blanco o Beige total</p>
    <p class="text-platinum text-xl"><b class="text-strong_blue">Mujeres:</b> No blanco, azúl claro o Beige</p>
    <div class="mt-8 text-platinum">
      Si necesitas inspiración, puedes buscar unas ideas
      <a href="https://www.pinterest.com.mx/isi_carolinda/vestimenta-formal-para-playa/" class="text-brown" target="_blank">aquí</a>.
    </div>
  </div>
</div>