---
---

<div class="flex justify-between bg-perl px-8 py-16">
  <div class="flex items-center">
    Todos los derechos reservados &copy; 2024
  </div>

  <div class="flex items-center">
    Hecha con ❤️ por Isis & Alex
  </div>
</div>