---
import { Icon } from 'astro-icon/components';
import line from '/src/assets/images/line.png';
---

<div id="mesa_de_regalos" class="bg-cover bg-center min-h-176 bg-[url('/src/assets/images/hands.jpeg')]">
  <div class="text-center min-h-96 py-32 px-8 h-full bg-black bg-opacity-70">
    <h2 class="text-5xl font-titles text-secondary ">Mesa de regalos</h2>
    <img alt="separador" class="mx-auto mt-1 mb-24 max-w-64" src={line.src}/>
    <div class="text-accent inline-block mb-8">
      <Icon name="envelope" size={40} />
    </div>
    <div class="flex justify-center">
      <p class="text-background text-lg max-w-144">Tenerte con nosotros es lo más importante, pero si quieres brindarnos un detalle especial, estas son algunas alternativas:</p>
    </div>
    <div class="flex flex-row gap-2 md:gap-10 justify-center mt-16">
      <div class="min-w-44 md:min-w-60 basis-1 border border-accent m-1 p-6">
        <div class="text-secondary text-2xl font-main my-3">Lluvia de Sobres</div>
        <p class="text-md text-background">
          Día del evento
        </p>
      </div>
      <div class="min-w-44 md:min-w-60 basis-1 border border-accent m-1 p-6">
        <div class="text-secondary text-2xl font-main my-3">Mesa de Liverpool</div>
        <p class="text-xs text-background mb-4">
          Código: 
        </p>
        <a href="https://www.amazon.com.mx/wedding/share/isisyalex" class="text-xs text-background border border-background rounded-full p-2 mt-4 hover:bg-accent/60 ">
          Ver regalos
        </a>
      </div>
    </div>
  </div>
</div>

