---
import { Icon } from 'astro-icon/components';
import line from '/src/assets/images/line2.png';
---

<div id="mesa_de_regalos" class="bg-cover bg-top min-h-176 bg-[url('/src/assets/images/photo7.jpeg')]">
  <div class="text-center min-h-96 py-32 px-8 h-full bg-black bg-opacity-70">
    <h2 class="text-5xl font-titles text-secondary ">Padrinos</h2>
    <img alt="separador" class="mx-auto mt-1 mb-24 max-w-64" src={line.src}/>
    <div class="flex  flex-row flex-wrap gap-10 justify-center mt-16">
      <div class="border-2 border-accent mt-10 p-10 shadow-xl">
        <div class="text-3xl flex flex-col items-center p-5 text-secondary text-center font-titles">
          Edgar Daniel Medina
        </div>
        <div class="text-3xl flex flex-col items-center p-5 text-secondary text-center font-titles">
          Carolina López Ramírez
        </div>
      </div>
    </div>
  </div>
</div>



