---
import line from '/src/assets/images/line1.png';
---

<div id="padres" class=" bg-background px-8 py-32 min-h-176">
  <h1 class="text-6xl text-primary font-titles text-center">Nuestros Padres</h1>
  <img alt="separador" class="mx-auto mt-1 mb-8 max-w-64" src={line.src}/>
  <div class="flex  flex-row flex-wrap gap-10 justify-center mt-16">
      <div class="border-2 border-textPrimary mt-10 p-2 shadow-xl max-w-48">
        <div class="flex flex-col items-center p-5 border border-textPrimary text-center h-full">
          <h2 class="text-3xl text-accent font-titles mb-4">Rafael Álvarez Casiana</h2>
          <p class="text-md text-primary">Padre de la novia</p>
        </div>
      </div>
      <div class="border-2 border-textPrimary mt-10 p-2 shadow-xl max-w-48">
        <div class="flex flex-col items-center p-5 border border-textPrimary text-center h-full">
          <h2 class="text-3xl text-accent font-titles mb-4">Juana Zárate Solís</h2>
          <p class="text-md text-primary">Madre de la novia</p>
        </div>
      </div>
      <div class="border-2 border-textPrimary mt-10 p-2 shadow-xl max-w-48">
        <div class="flex flex-col items-center p-5 border border-textPrimary text-center h-full">
          <h2 class="text-3xl text-accent font-titles mb-4">Gilberto Castillo Arreola</h2>
          <p class="text-md text-primary">Padre del novio</p>
        </div>
      </div>
      <div class="border-2 border-textPrimary mt-10 p-2 shadow-xl max-w-48">
        <div class="flex flex-col items-center p-5 border border-textPrimary text-center h-full">
          <h2 class="text-3xl text-accent font-titles mb-4">Angélica Medina Uribe</h2>
          <p class="text-md text-primary">Madre del novio</p>
        </div>
      </div>
  </div>
</div>


