---
import Event from "./Event.astro"
import line from '/src/assets/images/line_blue.png';
---

<div id="itinerario" class=" bg-perl px-8 py-32">
  <h1 class="text-6xl text-striong_brown font-titles text-center">Itinerario</h1>
  <img alt="separador" class="mx-auto mt-1 mb-8 max-w-64" src={line.src}/>
  <div class="flex  flex-row flex-wrap gap-10 justify-center">
    <Event
    title="Rompehielo"
    icon="hielo"
    day="Viernes",
    date="18 de Octubre"
    time="14:00 hrs"
    place="Hotel Diamond Bay"
    description="Al estar hospedados en el hotel tendremos la oportunidad de hacer un brindis y relajarnos con música en la alberca."
    link="https://dbresort.mx/"
    address="Av. Ernesto Coppel Campaña 725, Cerritos, 82100 Mazatlán, Sin."
    map="https://maps.app.goo.gl/RUt8a2qjwJX12ZKV7"
  />
  <Event
    title="Ceremonia Religiosa"
    icon="iglesia"
    day="Sábado",
    date="19 de Octubre"
    time="12:00 hrs"
    description="Con la bendición de dios marcamos el comienzo de nuestra unión."
    place="Iglesia de San Judas Tadeo"
    address="Av del Mero 55, Sábalo Country, 82100 Mazatlán, Sin."
    map="https://maps.app.goo.gl/EAezMzaJjQqoxLsa9"
  />
  <Event
    title="Ceremonia Simbólica"
    icon="arco"
    day="Sábado",
    date="19 de Octubre"
    time="16:00 hrs"
    place="A pie de playa"
    description="Será un entorno lleno de amor y momentos inolvidables, donde cada detalle reflejará la esencia única de nuestro amor."
    link="https://dbresort.mx/"
    address="Av. Ernesto Coppel Campaña 725, Cerritos, 82100 Mazatlán, Sin."
    map="https://maps.app.goo.gl/RUt8a2qjwJX12ZKV7"
  />
  <Event
    title="Recepción"
    icon="salud"
    day="Sábado",
    date="19 de Octubre"
    time="17:00 hrs"
    place="Jardin del Hotel"
    link="https://dbresort.mx/"
    description='La celebración continúa... Nos encantaría que se unieran a nosotros para una recepción llena de diversión y baile.'
    address="Av. Ernesto Coppel Campaña 725, Cerritos, 82100 Mazatlán, Sin."
    map="https://maps.app.goo.gl/YtSZAffj4jnhN65e8"
  />
  </div>

</div>
