---
import Event from "./Event.astro"
import line from '/src/assets/images/line1.png';
---

<div id="itinerario" class=" bg-background px-8 py-32">
  <h1 class="text-6xl text-primary font-titles text-center">Itinerario</h1>
  <img alt="separador" class="mx-auto mt-1 mb-8 max-w-64" src={line.src}/>
  <div class="flex  flex-row flex-wrap gap-10 justify-center">

  <Event
    title="Ceremonia Religiosa"
    icon="iglesia"
    day="Sábado",
    date="4 de Enero"
    time="18:00 hrs"
    description="En presencia de Dios y nuestros seres queridos, unimos nuestras almas y corazones"
    place="Parroquia Santiago Apostól"
    address="C. Fray Antonio de Cuéllar SN, Centro, 46600 Ameca, Jal."
    map="https://maps.app.goo.gl/DiRqrjr4SHabPHb38"
  />

  <Event
    title="Recepción"
    icon="salud"
    day="Sábado",
    date="4 de Enero"
    time="19:30 hrs"
    place="Terraza Del Carmen"
    description='La celebración sigue… ¡Acompáñennos para una noche llena de amor, alegría y baile!'
    address="Fray Juan Calero Sur 8, Niños Heroes, 46649 Ameca, Jal."
    map="https://maps.app.goo.gl/zNJiuU5nPkgnqucN9"
  />
  </div>

</div>
